$header-bg: #074E68;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 0.5rem;
$transition: all .35s ease-in-out;

$global-radius: 4px;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

$game-height: 45vh;
