@import '~foundation-sites/scss/foundation';
@include foundation-everything;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: rgb(235, 235, 235);
}

.active {
  color: red;
  font-weight: 700;
}
