<div class="wrap">
  <div class="row game-component">
    <div class="small-12 medium-4 columns text-center">
      <a class="button button-primary" ng-click="$ctrl.onDraw()">Draw Card</a>
      <a class="button button-primary" ng-click="$ctrl.onPass()" ng-if="$ctrl.canPass()">Pass</a>
    </div>
    <div class="small-12 medium-4 columns text-center">
      <card-component current-card="$ctrl.card"></card-component>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="callout text-center">
        <label><input type="radio" ng-model="$ctrl.decision" value="high" />High</label>
        <label><input type="radio" ng-model="$ctrl.decision" value="low" />Low</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>Result {{$ctrl.result}}</p>
      <p>Cards in Pile {{$ctrl.gameService.currentGame.cardsInPile}}
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <score-component></score-component>
    </div>
  </div>
</div>
