<!DOCTYPE html>
<html>
  <head>
    <title>HiLoApp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag *webpack_asset_paths('application') %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= yield %>
  </body>
</html>
